<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
<!--  Definiciones de los beans aquí  -->


<!--  para que reconozca los Servicios, DAOs, etc anotados -->
<!--  <context:component-scan base-package="clasesDAO.JPAHibernate"/>-->
<context:component-scan base-package="clasesDAO.JPAHibernate, clasesDAO, initializer "/>
<!--  propiedades de la Base de Datos -->
<!--  <context:property-placeholder location="classpath:database.properties"/>-->
 

<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">




<property name="driverClass" value="com.mysql.jdbc.Driver"/>
<!-- <property name="driverClass" value="com.mysql.jdbc.Driver"/> sin usan .properties -->
<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/simulacionSIU"/>
<property name="user" value="root"/>
<property name="password" value="rama"/>
<property name="acquireIncrement" value="2"/>
<property name="minPoolSize" value="20"/>
<property name="maxPoolSize" value="50"/>
<property name="maxIdleTime" value="600"/>
</bean>


<!-- Configuración JPA -->
<bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
<!--  Estos tag hace que /META-INF/persistence.xml ya no sea necesario -->
<property name="dataSource" ref="dataSource" />
<property name="packagesToScan" value="clases" />
<!--  Seteo la implementación del EntityManager (JPA) de Hibernate -->
<property name="jpaVendorAdapter">
<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
</property>
<property name="jpaProperties">
<props>
<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
<prop key="hibernate.hbm2ddl.auto">create</prop>
<prop key="hibernate.format_sql">true</prop>
<prop key="hibernate.show_sql">false</prop>
</props>
</property>
</bean>


<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
<property name="entityManagerFactory" ref= "emf" />
</bean> 

<tx:annotation-driven transaction-manager="transactionManager"/>





<!--  beans del autowired-->
 <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
<context:annotation-config/>





</beans>